.h-div{
    position: fixed;
    background-color: #1876D1;
    height: 70px;
    width: 100%;
    top: 0;
    z-index: 1;
}

.h3-title{
    text-align: center;
    padding: 16px; 
    color: white;
}
.t-div-1{
    position: fixed;
    right: 170px;
    top: 150px;
    height: 0px;
}

.b-div{
    position: absolute;
    top: 150px;
    left: 120px;
}

th,td{
    padding: 10px;
}