.orders-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.orders-outer-par {
}

.order-title-container {
  display: flex;
}

.search-orders-input {
  height: 25px;
  width: 200px;
  margin-left: 250px;
}

.orders-title {
  font-size: 40px;
  font-weight: 1000;
}

.orders-list-pos {
  padding: 5px;
}
