.outer-cart-container {
  display: flex;
  width: 100%;
  padding: 10px;
}

.body-container {
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.right-container-1 {
}

.prod-details-1 {
  width: 65%;
}

.options-cart {
  padding: 10px;
}
